:root {
  --green: #57ff65;

}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h6 {
  margin: 0;
  text-align: center;
  font-size: 0.8rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cart-logo {
  width: 1.5rem;
  height: auto;
}


.navbar {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: white;
  width: 100%;
  height: 60px;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  z-index: 5;

}
.navigation {
  padding: 0;
  margin: 0;
  height: 100%;
}
.navigation a {
  box-sizing: border-box;
  font-size: 1.2rem;
  display: inline-flex;
  height: 100%;
  padding: 0 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
  
  
}
.navigation a:hover, .currencyBtn:hover {
  border-bottom: 2px solid black;
  color: var(--green)
}
.navbarList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbarList li {
  display: inline;
  float: left;
}
.navbar-btn-container {
  display: flex;
  flex-direction: row;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: 30px;
}
.grid {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 15px;

}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  -webkit-transform: translate(-50%, -50%);
  opacity: 1 !important;
}
.add-to-cart-button{
  position: absolute;
  bottom: 4rem;
  right: 2rem;
  display: none;
  padding: 0.7rem;
  text-align: center;
  border-radius: 2rem;
  border: none;
  background-color: var(--green);
  cursor: pointer;
}
.productContainer {
  z-index: 1;
  position: relative;
  width: 30%;
  padding: 10px;
  transition-duration: 0.5s;
  cursor: pointer;
  overflow: hidden;
}
.productContainer:hover > .add-to-cart-button{
  display: block;
}
.productContainer a {
  text-decoration: none;
  color: inherit;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}
.productContainer img {
  display: block;
  width: 100%;
}
.img-container {
  width: 100%;
  overflow: hidden;
  max-height: 30rem;
}
.soldOut {
  opacity: 0.5;
}
.productContainer:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.productContainer h5, p {
  margin: 0;
}

.currencyBtn {
  background: none;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  width: 60px;
}

.dropDown {
  position: absolute;
  top: 60px;
  width: 60px;
  overflow: hidden;
  background-color: white;
}
.dd-item {
  z-index: 999;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: white;

}
.product-image-grid {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 12%;
  max-height: 650px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}
.product-image-grid::-webkit-scrollbar {
  display: none;
}
.large-image-container {

  width: 45%;
  max-height: 650px;
  overflow: auto;
}
.item-info-grid {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 30%;
  height: 100%;
}
.title {
  padding: 5px 0; 
}
.title h3, h2 {
  margin: 0
}
.title h3 {
  font-weight: normal;
}

.atrribute-select {
  width: 23%;
  padding: 10px 5px;
  height: 50px;
  border: 2px solid black;
  transition-duration: 0.5s;
  background-color: transparent;
}
.atrribute-select:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.product-price-container h4 {
  font-weight: bolder;
  margin-bottom: 5px;
}
.product-price-container #price-number {
  margin-top: 0; 
  font-weight: bold;
}
.product-page-button {
  width: 100%;
  padding: 15px;
  background-color: var(--green);
  color: white;
  border: none;
}

.drop-down-cart {
  position: absolute;
  top: 60px;
  width: 60px;
  overflow: hidden;
  background-color: white;
  width: 500px; 
  padding: 10px;
  right: 10px;
}
.cart-product-amount {

  background-color: black;
  color: white;
  border-radius: 50%;
  position: absolute;
  right: 0.5rem;
  top: 0.3rem;
  padding: 0.3rem;
  z-index: 999;
  

}
.cart-item-container {
  border-top: 1px solid rgba(204, 204, 204, 0.733);
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: space-between;
  flex-wrap:nowrap;
  margin-bottom: 10px;
  padding-top: 10px;
  height: 200px;
  
}
.cart-items-dropdown-container {
  overflow-y: auto;
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
  max-height: 500px; 

}
.total-amount-container {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.cart-button-container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.cart-logo-container {
  height: 100%;
  position: relative;
}
/* width */
.cart-items-dropdown-container::-webkit-scrollbar, .large-image-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.cart-items-dropdown-container::-webkit-scrollbar-track, .large-image-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
.cart-items-dropdown-container::-webkit-scrollbar-thumb, .large-image-container::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 10px;
}
.cart-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-item-info h4 {
  margin: 10px 0;
  width: 100%;
   font-weight: bold;
}
.cart-image-quantity {
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: space-between;
}

.product-atributes-cart {
  display: inline-flex;
  width: 100%;
  flex-direction: row;
}
.attribute-display {
  margin-right: 0.3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.attribute-display button {
  width:auto;
  min-width: 3rem;
  padding: 0.4rem;

}
.attribute-dropdown-list {
  padding: 0;
  margin: 0;
}
.attribute-dropdown-list .attribute {
  font-weight: bolder;
  font-style: italic;
}


.qty-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 20%;
  text-align: center;
}
.qty-cart button {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: 2px solid black;
  transition-duration: 0.5s;
}

.qty-cart button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.cart-image-container {
  width: 75%;
  display: flex;
  justify-content: center;
  position: relative;
}
.cart-image-container button {
  position: absolute;
  top: 50%;
  transform: translate(-50% , -50%);
  -webkit-transform: translate(-50%, -50%);
  font-size: 20px;
  background-color: transparent;
  border: none;
  width: 10px;
}
.left {
  left: 5px
}
.right {
  right: 5px;
}

.view-bag-btn, .check-out-btn, .cart-image-container button:hover {
  cursor: pointer;
  
}
.view-bag-btn {
  border: 1px solid black;
  background-color: transparent;
  padding: 15px 30px;
}
.check-out-btn {
  border: none;
  background: var(--green);
  color: white;
  padding: 15px 30px;
}

.dark-background {
  width: 100%;
  background-color: black;
  height: 100%;
  opacity: 0.6;
  z-index: 2;
  position: fixed;
}