body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: white;
  width: 100%;
  height: 60px;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  z-index: 5;

}
.navigation {
  padding: 0;
  margin: 0;
}
.navigation a {
  box-sizing: border-box;
  font-size: 1.2rem;
  display: inline-block;
  height: 100%;
  padding: 0 5px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
  
  
}
.navigation a:hover, .currencyBtn:hover {
  border-bottom: 2px solid black;
  color: green
}
.navbarList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  float: left;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: 30px;
}
.grid {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 15px;

}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  -webkit-transform: translate(-50%, -50%);
  opacity: 1 !important;
}
.productContainer {
  z-index: 1;
  position: relative;
  flex-direction: row;
  width: 30%;
  padding: 10px;
  transition-duration: 0.5s;
  cursor: pointer;
}
.soldOut {
  opacity: 0.5;
}
.productContainer:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.productContainer h5, p {
  margin: 0;
}

.currencyBtn {
  background: none;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  width: 60px;
}

.dropDown {
  position: absolute;
  top: 60px;
  width: 60px;
  overflow: hidden;
  background-color: white;
  

}
.dd-item {
  z-index: 999;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: white;

}
.product-image-grid {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 12%;
  height: 600px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}
.product-image-grid::-webkit-scrollbar {
  display: none;
}
.large-image {
  padding: 10px;
  width: 45%;
  height: 600px;
}
.item-info-grid {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 30%;
  height: 100%;
}

.title h3, h2 {
  margin: 0
}

.atrribute-select {
  width: 23%;
  padding: 10px 5px;
  height: 50px;
  border: 2px solid black;
  transition-duration: 0.5s;
}
.atrribute-select:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}